<div class="container-forget-password">
  <div class="title">
    <h3>Forgot</h3>
    <h4>your password?</h4>
  </div>
  <div class="form-container">
    <form>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-flat-button class="primary-button" >Call to action</button>
        <button mat-flat-button class="secondary-button">Cancel</button>
      </div>
    </form>
  </div>
</div>
