<link
  href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
  rel="stylesheet"
/>
<div class="heading">
  <div class="title">
    <h2>User Profile</h2>
  </div>
  <div class="user">
    <img [src]="user.image" alt="user_img.jpg" width="40px" height="40px" />
    <span class="username">{{ user.name }}</span>
  </div>
</div>

<div class="user-settings" *ngIf="employee; else elseBlock">
  <div class="user-info">
    <div class="details">
      <div class="img-container">
        <img [src]="employee.image" alt="user_img.jpg" />
      </div>
      <div class="info">
        <h4>{{ employee.name }}</h4>
        <span class="job">{{ employee.developerType }}</span>
        <span class="email">{{ employee.email }}</span>
        <span id="role-container">{{ employee.role.name | titlecase }}</span>
      </div>
    </div>
    <div class="action-container">
      <div class="action-btn">
        <button
          class="secondary-button"
          mat-flat-button
          *ngIf="employee.twoFactorEnabled"
        >
          Remove MFA
        </button>
        <button
          (click)="changeRoles()"
          class="primary-button"
          mat-flat-button
          color="warn"
        >
          Change roles
        </button>
      </div>
    </div>
  </div>

  <div class="auth-container">
    <div class="desc-container">
      <h4>Assigned Applications</h4>
    </div>
  </div>

  <div class="buttons-container">
    <mat-form-field appearance="standard" class="input-search">
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup.enter)="search()"
        [formControl]="searchInput"
        maxlength="50"
      />
      <span matPrefix><i class="ri-search-line"></i></span>
    </mat-form-field>
    <div id="buttons">
      <button (click)="search()" mat-flat-button class="secondary-button">
        Search
      </button>
      <button (click)="clearFilters()" mat-flat-button class="secondary-button">
        Clear filters
      </button>
      <button mat-flat-button class="secondary-button">+ Assign new</button>
    </div>
  </div>

  <div class="applications-container">
    <div class="application-container" *ngFor="let app of apps$ | async">
      <div class="application">
        <img [src]="app.image" alt="" />
        <div class="app-content">
          <h4>{{ app.name }}</h4>
          <div class="app-description">{{ app.description }}</div>
        </div>
      </div>
      <div class="button-container">
        <button mat-flat-button class="secondary-button">View role</button>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock><mat-spinner></mat-spinner></ng-template>

<div class="panel-right">
  <div class="warning" *ngIf="this.warningService.noRoot$ | async">
    <div class="icon-container"><i class="ri-information-line"></i></div>
    <div class="error-title">Warning</div>
    <div class="icon-container" (click)="removeNoRootWarning()">
      <i class="ri-close-line"></i>
    </div>
    <div class="error-description">
      You must be root to<br />
      perform this action.
    </div>
  </div>
</div>

<div class="paginator">
  <mat-paginator
    [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageIndex]="pagination.pageIndex"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
