@import "../../../../../../styles.scss";

.dialog-container {
  display: flex;
  flex-direction: column;
  width: 588px;
  height: 224px;
  background: #ffffff;

  .dialog-title {
    margin-bottom: 8px;
    color: #011625;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .dialog-content {
    color:#011625;
    font-size: 16px;
    line-height: 24px;
  }

  .icon-container {
    position: absolute;

    i {
      position: relative;
      color: #011625;
      font-size: 1.4rem;
    }
    .ri-close-line {
      bottom: -10px;
      left: 550px; 
      cursor: pointer;     
    }
  }

  @include primary-button;
  .primary-button {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 92px;
  }
}