<div class="container">
  <div class="heading">
    <div class="title">
      <h2>About</h2>
    </div>
    <div class="user">
      <img [src]="user.image" alt="user_img.jpg" width="40px" height="40px" />
      <span class="username">{{ user.name }}</span>
    </div>
  </div>
  <div class="body">
    <div class="logo">
      <img
        src="../../../../assets/images/gatekeeper-logo.png"
        alt="gatekeeper-logo.png"
      />
    </div>
    <p>
      Gatekeeper is a platform built to keep a single source of truth in regard
      of authentication within all Applaudo's internal applications, allowing us
      to improve maintainability, keep consistency, detach from third party
      software and enhance privacy. <br /><br />
      Your feedback is important to us, please let us know if you find any bug,
      inconsistency, or new features you would like to be concidered for future
      versions.
    </p>
  </div>
  <footer>
    <div class="footer-container">
      <h4>How can we help you?</h4>
      <button mat-flat-button>Contact us</button>
    </div>
  </footer>
</div>
