.container-init {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;


  .title {
    h3 {
      height: 48px;
      font-style: demi;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      color: #011625;
    }
  
    h4 {
      height: 32px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #687177;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .primary-button {
      max-width: 110px;
      margin-top: 20px;
    }

    @import '../../../../../../styles.scss';
    @include primary-button;
  }
  
  .footer {
    display: flex;
  
    a {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
  
      color: #ff4040;
      margin-left: 40px;
    }
  }
}