$Applaudo-Red: #FF4040;
$text:#011625;
.dialog-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &>h4{
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  &>.close-x{
    &:hover{
      cursor: pointer;
    }
  }
}
.mat-dialog-content{
  & p{
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $text;
  }
}
.mat-dialog-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & button{
    display: inline-block;
    width: 128px;
  }
  &>.clear-btn{
    border-radius: 20px;
    color: white;
    background-color: $Applaudo-Red;
    border: 2px solid $Applaudo-Red;
  }
  &>.cancel-btn{
    border-radius: 20px;
    color: $Applaudo-Red;
    background-color: white;
    border: 2px solid #E2E2E2;
  }
}
.full-width{
  margin-top: 30px;
  width: 100%;
}
@media (max-width: 640px){
  .mat-dialog-actions{
    & button{
      width: 100px;
    }
  }
}