<div class="container-auth-with-r-code">
  <div class="title">
    <h3>Authenticate</h3>
    <h4>with your recovery code</h4>
  </div>
  <div class="form-container">
    <form [formGroup]="form">
      <mat-form-field appearance="standard">
        <mat-label>Enter code</mat-label>
        <input matInput formControlName="code">
        <mat-hint>Use one of your recovery codes</mat-hint>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-flat-button class="primary-button" (click)="openDialog()">Continue</button>
        <button mat-flat-button class="secondary-button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="footer">
    <p class="normal-link">Still have issues?</p>
    <a href="" class="link">Contact an administrator</a>
  </div>
</div>
