<div class="container-auth-with-r-code">
  <div class="title">
    <h3>Authenticate</h3>
    <h4>with your recovery code</h4>
  </div>
  <div class="form-container">
    <form>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-flat-button type="submit">Call to action</button>
    </form>
  </div>
  <div class="footer">
    <p class="normal-link">Still have issues?</p>
    <a href="" class="link">Use a recovery code</a>
  </div>
</div>
