<mat-sidenav-container class="container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened
    [position]="'start'"
    class="nav-sidenav"
    [ngClass]="{ closing: !isExpanded }"
    *ngIf="login"
  >
    <ul>
      <li>
        <a mat-button>
          <mat-icon svgIcon="icon_iso"></mat-icon>
          <img *ngIf="isExpanded" src="../../../assets/logos/Logo.png" alt="" />
        </a>
      </li>
      <li *ngIf="(this.loginService.userRole$ | async) == 'admin'">
        <a mat-button [routerLink]="['/employees']" routerLinkActive="active">
          <i class="ri-group-line"></i>
          <span *ngIf="isExpanded">Employees</span>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/request" routerLinkActive="active">
          <mat-icon svgIcon="icon_request"></mat-icon>
          <span *ngIf="isExpanded">Access Requests</span>
        </a>
      </li>
      <li *ngIf="(this.loginService.userRole$ | async) == 'admin'">
        <a mat-button routerLinkActive="active">
          <i class="ri-apps-line"></i>
          <span *ngIf="isExpanded">Applications</span>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/setting" routerLinkActive="active">
          <i class="ri-settings-4-line"></i>
          <span *ngIf="isExpanded">Settings</span>
        </a>
      </li>
      <li>
        <a mat-button routerLink="/about" routerLinkActive="active">
          <i class="ri-information-line"></i>
          <span *ngIf="isExpanded">About</span>
        </a>
      </li>
      <li class="spacer">
        <a mat-button (click)="logOut()">
          <i class="ri-logout-box-line"></i>
          <span *ngIf="isExpanded">Log Out</span>
        </a>
      </li>
      <li>
        <a mat-button (click)="isExpanded = !isExpanded">
          <i *ngIf="!isExpanded" class="ri-arrow-right-line"></i>
          <i *ngIf="isExpanded" class="ri-arrow-left-line"></i>
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{ resizing: !isExpanded, offline: !login }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
