$Applaudo-Red: #FF4040;
$text:#011625;

.dialog-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &>h4{
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  &>.close-x{
    &:hover{
      cursor: pointer;
    }
  }
}
.mat-dialog-content{
  & p{
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $text;
  }
  & .steps{
    font-weight: 700;
  }
  & .instructions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & p{
      width: 620px;
    }
  }
  & ul{
    font-family: 'Avenir Next LT Pro';
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $text;
    padding: 12px;
  }
}
.mat-dialog-actions{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  & button{
    display: inline-block;
    width: 128px;
  }
  .primary-button{
    border-radius: 0;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: #ff4040;
  }
  .secondary-button{
    border-radius: 0;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ff4040;
    border: 2px solid lightgrey;
    background-color: white;
  }
}

.full-width{
  width: 100%;
}