<div class="dialog-head">
  <h4 mat-dialog-title>Are you sure you want to close?</h4>
  <span class="close-x" (click)="onNoClick()"
    ><i class="ri-close-line"></i
  ></span>
</div>
<div mat-dialog-content>
  <p>If you continue, your won’t be able to see the keys again.</p>
</div>
<div mat-dialog-actions>
  <button
    type="button"
    mat-flat-button
    class="cancel-btn"
    (click)="goBackClick()"
  >
    Go Back
  </button>
  <button type="button" mat-button class="clear-btn" (click)="onNoClick()">
    Close
  </button>
</div>
