<div class="container-one-time-code">
  <div class="title">
    <h3>Enter</h3>
    <h4>your one-time code</h4>
  </div>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="sendCode()">
      <mat-form-field appearance="standard">
        <mat-label>Enter one-time code</mat-label>
        <input matInput formControlName="code">
        <mat-error>Code must be 6 digit long</mat-error>
      </mat-form-field>
      <div class="buttons-container">
        <button mat-flat-button class="primary-button" type="submit">Continue</button>
        <button mat-flat-button class="secondary-button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="footer">
    <p class="normal-link">Forgot one-time code?</p>
    <a [routerLink]="['/login/auth-with-code']" class="link">Use a recovery code</a>
  </div>
</div>