<div class="container-one-time-code">
  <div class="title">
    <h3>Enter</h3>
    <h4>your one-time code</h4>
  </div>
  <div class="form-container">
    <form>
      <mat-form-field appearance="standard">
        <mat-label>Enter one-time code</mat-label>
        <input matInput>
        <mat-hint>Code must be 6 digit long</mat-hint>
      </mat-form-field>
      <button mat-flat-button type="submit">Call to action</button>
    </form>
  </div>
  <div class="footer">
    <p class="normal-link">Forgot one-time code?</p>
    <a href="" class="link">Use a recovery code</a>
  </div>
</div>