<div class="dialog-head">
  <h4 mat-dialog-title>Deny access request</h4>
  <span class="close-x" (click)="onNoClick()"
    ><i class="ri-close-line"></i
  ></span>
</div>
<div mat-dialog-content>
  <p>Are you sure you want to deny the selected access requests?</p>
</div>
<div mat-dialog-actions class="actions">
  <button
    type="button"
    mat-button
    (click)="onNoClick()"
    class="secondary-button"
  >
    Cancel
  </button>
  <button mat-button (click)="denyRequest()" class="primary-button">
    Deny
  </button>
</div>
