.dialog-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h4{
    color: black;
    font-family: 'Avenir Next LT Pro';
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .ri-close-line{
    &:hover{
      cursor: pointer;
    }
  }
}
.content-body{
  .full-width{
    width: 100%;
    & textarea{
      height: 100px;
    }
  }
}
.actions{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button{
    width: 100px;
    border-radius: 0;
    font-weight: 600;
    border-radius: 0;
    padding: 0;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }
  .primary-button {
    color: white;
    background: #ff4040;
  }
  .secondary-button {
    color: #ff4040;
    border: 2px solid lightgrey;
    background-color: white;
  }
}