<div class="heading">
  <div class="title">
    <h2>Settings</h2>
  </div>
  <div class="user">
    <img [src]="user.image" alt="user_img.jpg" width="40px" height="40px" />
    <span class="username">{{ user.name }}</span>
  </div>
</div>
<div class="user-settings">
  <div class="user-info">
    <div class="details">
      <img [src]="user.image" alt="user_img.jpg" width="121px" height="121px" />
      <div class="info">
        <h4>{{ user.name }}</h4>
        <span class="job">{{ user.developerType }}</span>
        <span class="email">{{ user.email }}</span>
      </div>
    </div>
    <div class="action-container">
      <div>
        <mat-icon *ngIf="admin" svgIcon="icon_user_link"></mat-icon>
      </div>
      <div class="action-btn">
        <button
          (click)="openWebHooks()"
          *ngIf="admin"
          class="secondary-button"
          mat-flat-button
        >
          Manage WebHook Logs
        </button>
        <button
          (click)="openPassDialog()"
          class="primary-button"
          mat-flat-button
          color="warn"
        >
          Change password
        </button>
      </div>
    </div>
  </div>
  <div class="auth-container">
    <div class="desc-container">
      <h4>Multi-Factor Authentication</h4>
      <p>
        This option allows Gatekeeper to use the multi-factor authentication
        code when you log in to your account.
      </p>
    </div>
    <div class="toggle-container">
      <span *ngIf="!disabled">Disabled</span>
      <span *ngIf="disabled">Enabled</span>
      <mat-slide-toggle
        color="warn"
        #twoFactor
        [checked]="disabled"
        (click)="openAuthDialog()"
        (change)="updateToggle(twoFactor)"
      ></mat-slide-toggle>
    </div>
  </div>
  <div class="panel-right">
    <div
      class="success"
      *ngIf="this.settingMessages.disableTwoStepSuccess$ | async"
    >
      <div class="icon-container"><i class="ri-checkbox-circle-line"></i></div>
      <div class="error-title">Success</div>
      <div class="icon-container" (click)="closeSettingsError()">
        <i class="ri-close-line"></i>
      </div>
      <div class="error-description">
        Multi-factor authentication was disabled.
      </div>
    </div>
    <div
      class="success"
      *ngIf="this.settingMessages.enableTwoStepSuccess$ | async"
    >
      <div class="icon-container"><i class="ri-checkbox-circle-line"></i></div>
      <div class="error-title">Success</div>
      <div class="icon-container" (click)="closeSettingsError()">
        <i class="ri-close-line"></i>
      </div>
      <div class="error-description">
        Multi-factor authentication was enabled.
      </div>
    </div>
    <div class="warning" *ngIf="this.settingMessages.warningCodeError$ | async">
      <div class="icon-container"><i class="ri-information-line"></i></div>
      <div class="error-title">Warning</div>
      <div class="icon-container" (click)="closeSettingsError()">
        <i class="ri-close-line"></i>
      </div>
      <div class="error-description">
        You must enable multi-factor<br />
        authentication to continue.
      </div>
    </div>
    <div class="error" *ngIf="this.settingMessages.wrongPassword$ | async">
      <div class="icon-container"><i class="ri-checkbox-circle-line"></i></div>
      <div class="error-title">Error</div>
      <div class="icon-container" (click)="closeSettingsError()">
        <i class="ri-close-line"></i>
      </div>
      <div class="error-description">Incorrect password</div>
    </div>
    <div class="error" *ngIf="this.settingMessages.wrongCode$ | async">
      <div class="icon-container"><i class="ri-checkbox-circle-line"></i></div>
      <div class="error-title">Error</div>
      <div class="icon-container" (click)="closeSettingsError()">
        <i class="ri-close-line"></i>
      </div>
      <div class="error-description">Incorrect code</div>
    </div>
  </div>
</div>
