$Applaudo-Red: #FF4040;
$Applaudo-Navy:#011625;
$cool-gray:#687177;


.heading{
  display: flex;
  padding: 5px 30px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #E2E2E2;
  &>.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
      color: black;
      font-family: 'Avenir Next LT Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
    }
  }
  &>.user{
    display: flex;
    flex-direction: row;
    img{
      border-radius: 50%;
      margin-right: 10px;
    }
    .username{
      font-family: 'Avenir Next LT Pro';
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
    }
  }
}
.user-settings{
  padding: 0px 30px;
}
.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 2px solid #E2E2E2;
  .action-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    .action-btn{
      display: flex;
      align-items: flex-end;
      gap: 20px;
      button{
        width: 250px
      }
    }
  }
}
.primary-button {
  border-radius: 0;
  padding: 0 32px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: #ff4040;
}
.secondary-button {
  border-radius: 0;
  padding: 0 32px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ff4040;
  border: 2px solid lightgrey;
  background-color: white;
}
.details{
  display: flex;
  flex-direction: row;
  &>img{
    border-radius: 50%;
    margin-right: 20px;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &>h4{
      font-family: 'Avenir Next LT Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0;
      color: black;
    }
    &>.job{
      font-family: 'Avenir Next LT Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $cool-gray;
    }
    &>.email{
      color: $cool-gray;
      font-family: 'Avenir Next LT Pro';
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }
  }
}
.auth-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  .desc-container{
    &>h4{
      font-family: 'Avenir Next LT Pro';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: black;
    }
  }
  .toggle-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span{
      font-family: 'Avenir Next LT Pro';
      color: $cool-gray;
    }
  }
}
.panel-right {
    .error, .success, .warning {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      right: 40px;
      bottom: 40px;
      width: 424px;
      height: 104px;
      background: #ffffff;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      border-left: 4px solid #B80000;

      .error-title, .error-description {
        margin-left: 56px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      
      .error-title {
        color: #011625;
        font-weight: 700;
      }

      .error-description {
        color: $Applaudo-Navy;
        font-weight: 400;
      }

      .icon-container {
        position: absolute;
        i {
          position: relative;
          color: #B80000;
          font-size: 1.2rem;
        }
        .ri-information-line{
          top: -25px;
          left: 32px;
        }
        .ri-checkbox-circle-line {
          top: -16px;
          left: 32px;
        }
        .ri-close-line {
          bottom: 22px;
          left: 380px;     
          cursor: pointer;     
        }
      }
    }

    .success {
      border-left: 4px solid #1BCB80;
      .icon-container {
        i {
          color: #1BCB80;
        }
      }
    }
    .warning{
      border-left: 4px solid #FBB214;
      .icon-container {
        i {
          color: #FBB214;
        }
      }
    }
  }