<div class="container-forgot-password">
  <div class="title">
    <h3>Forgot</h3>
    <h4>your password?</h4>
  </div>
  <div class="form-container">
    <form [formGroup]="formPasswordRecovery" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <div class="buttons-container">
        <button mat-flat-button class="primary-button" type="submit">Call to action</button>
        <button mat-flat-button class="secondary-button" (click)="goBack()">Cancel</button>
      </div>
    </form>
  </div>
</div>
