@use '@angular/material' as mat;

@include mat.core();
$gatekeeper-trainee-program-primary: mat.define-palette(mat.$indigo-palette);
$gatekeeper-trainee-program-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$gatekeeper-trainee-program-warn: mat.define-palette(mat.$red-palette);
$gatekeeper-trainee-program-theme: mat.define-light-theme((
  color: (
    primary: $gatekeeper-trainee-program-primary,
    accent: $gatekeeper-trainee-program-accent,
    warn: $gatekeeper-trainee-program-warn,
  )
));

@include mat.all-component-themes($gatekeeper-trainee-program-theme);

/* You can add global styles to this file, and also import other style files */

  
  $applaudo-navy-blue: #011625;
  $cool-gray: #687177;

* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next LT Pro', sans-serif !important;  
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mat-form-field {
  line-height: 1.5;
  .mat-input-element {
    color: $applaudo-navy-blue
  }
  .mat-form-field-label {
    color: #687177;
  }
  .mat-form-field-underline {
    background-color: #687177;
  }
  .mat-form-field-ripple {
    background-color: #687177;
  }
  .mat-form-field-required-marker {
    color: #687177;
  }
  .mat-hint {
    color: $cool-gray
  }
}
.mat-dialog-content{
  overflow: hidden !important;
}
.mat-dialog-container {
  background-color: white;
  overflow: hidden !important;
}


.mat-form-field-hint-wrapper {
  flex-direction: column;
  margin-bottom: 10px;
  .mat-hint {
    color: #ff4040
  }
}

@mixin primary-button {
  .primary-button {
    padding: 0 32px;
    width: min-content;
    height: 40px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: #ff4040;
  }
}

@mixin secondary-button {
  .secondary-button {
    padding: 0 32px;
    height: 40px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ff4040;
    border: 2px solid lightgrey;
    background-color: white;
  }
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/Avenir-Next-LT-Pro-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/AvenirLTProBlack.otf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/AvenirLTProHeavy.otf) format("truetype");
  font-weight: 600;
}