  $applaudo-navy-blue: #011625;
  $cool-gray: #687177;

* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next LT Pro', sans-serif;

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.mat-form-field {
  line-height: 1.5;
  .mat-input-element {
    color: $applaudo-navy-blue
  }
  .mat-form-field-label {
    color: #687177;
  }
  .mat-form-field-underline {
    background-color: #687177;
  }
  .mat-form-field-ripple {
    background-color: #687177;
  }
  .mat-form-field-required-marker {
    color: #687177;
  }
  .mat-hint {
    color: $cool-gray
  }
}

.mat-dialog-container {
  background-color: white;
  padding: 0 !important;
}


@mixin primary-button {
  button {
    width: 161px;
    height: 40px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  .primary-button {
    background: #ff4040;
  }
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/Avenir-Next-LT-Pro-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/AvenirLTProBlack.otf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: local("Avenir Next LT Pro"), url(./assets/fonts/Avenir-Next-LT-Pro-Regular/AvenirLTProHeavy.otf) format("truetype");
  font-weight: 600;
}