@import "../../../../../../styles.scss";

.dialog-container {
  display: flex;
  flex-direction: column;
  width: 588px;
  height: 224px;
  background: #ffffff;


  .dialog-title {
    margin-bottom: 8px;
    color: #011625;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .dialog-content {
    margin-right: 24px;
    color:#011625;
    font-size: 16px;
    line-height: 24px;
  }

  .icon-container {
    position: absolute;

    i {
      position: relative;
      color: #011625;
      font-size: 1.5rem;
    }
    .ri-close-line {
      bottom: -7px;
      left: 570px; 
      cursor: pointer;     
    }
  }
  
  .buttons-container {
    display: flex;
    gap: 40px;  
    align-self: flex-end;
    margin-top: 70px;
    

    @import '../../../../../../styles.scss';
    @include primary-button;
    @include secondary-button
  }
}
   