<div class="container-password-reset">
  <div class="title">
    <h3>Reset</h3>
    <h4>your password</h4>
  </div>
  <div class="form-container">
    <form>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-flat-button type="submit">Reset password</button>
    </form>
  </div>
</div>