<div class="container-password-reset">
  <div class="title">
    <h3>Reset</h3>
    <h4>your password</h4>
  </div>
  <div class="form-container">
    <form [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-hint *ngIf="this.password.hasError('minlength') && this.password.touched">Password must be equal or greater than 8 characters long</mat-hint>
        <mat-hint *ngIf="(this.password.hasError('noNumbers') || this.password.hasError('noLetters')) && this.password.touched">Password must contains at least a letter and a number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password confirmation</mat-label>
        <input matInput type="password" formControlName="passwordConfirmation">
        <mat-error>Password does not match</mat-error>
      </mat-form-field>
      <button mat-flat-button type="submit">Reset password</button>
    </form>
  </div>
</div>